chromadb 
python-dotenv
langchain-google-genai
llama_index.llms.langchain
llama-index-embeddings-huggingface
langchain-community
transformers
streamlit
langchain_huggingface
sentence_transformers


streamlit 
langchain 
langchain-community 
langchain-huggingface 
langchain-google-genai 
google-generativeai 
sentence-transformers 
chromadb 
python-dotenv 
unstructured 
pypdf
PyPDF2
torch 
torchvision 
torchaudio
pysqlite3-binary
