pysqlite3-binary
chromadb==0.4.22
streamlit 
langchain 
langchain-community 
langchain-huggingface 
langchain-google-genai 
google-generativeai 
sentence-transformers 
chromadb 
python-dotenv 
unstructured 
pypdf
PyPDF2
torch 
torchvision 
torchaudio
llama_index.llms.langchain
llama-index-embeddings-huggingface
langchain_huggingface
transformers
numpy<2.0
